<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Compound Interest Calculator</title>
    <link rel="stylesheet" href="/app.css">

</head>

<body>

    <main>

        <section class="header-container">

            <h1 class="header-text header-date-text">Sunday, August 23</h1>
            <h1 class="header-text header-time-text">6:50 PM</h1>

        </section>

        <section class="hero-container">

            <div class="hero-formula-container">

                <h1 class="hero-formula-text">A = P ( 1 + r/n ) ^ n/t </h1>

            </div>

            <nav class="nav-container">

                <div class="nav-item nav-calculate-item">

                    <a href="/" class="nav-anchor">
                        <p class="nav-text nav-calculate-text">Calculate</p>
                    </a>

                </div>

                <div class="nav-item nav-table-item">

                    <a href="/table" class="nav-anchor">
                        <p class="nav-text nav-table-text">Table</p>
                    </a>



                </div>

                <div class="nav-item nav-graph-item">

                    <a href="/graph" class="nav-anchor">
                        <p class="nav-text nav-graph-text">Graph</p>
                    </a>



                </div>
            </nav>


        </section>

        <section class="data-grid-container">

            <div class="grid-item grid-item-first grid-label">Year</div>
            <div class="grid-item grid-label">Amount</div>
    

        </section>


    </main>

    <script type="module" src="/display-table.js"></script>


</body>

</html>