@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {

    display: flex;
    justify-content: center;
    margin: 0;
    font-family: "Inter";
    margin-bottom: 1em;
}

main {

    display: flex;
    flex-direction: column;
    gap: 0.8em;

    background-color: #ffffff;
    color: white;
    width: 32vw;
    margin: 0;


}





/* ================
==============
Header */



.header-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 8em;
    margin: 0;
    background-color: #2A9D8F;
}

.refresh-icon {

    width: 1.5em;
    border-radius: 50%;
    padding: 0.5em;
}

.refresh-icon:hover {

    background-color: #4cbbae;
}

.header-text-container {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

    padding-left: 0.5em;
    padding-bottom: 0.5em;

}

.header-refresh-icon-container {

    padding: 0.5em;
}

.header-text {

    margin: 0;


}


.header-date-text {

    font-size: 1.8em;
    font-weight: 700;

}

.header-time-text {



    font-size: 1.2em;
    font-weight: 300;
}



.hero-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 1em;

    background-color: rgb(255, 255, 255);
    padding: 0.5em;
}

.hero-formula-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    visibility: hidden;

    gap: 0.1em;
}

.hero-final-balance-text {

    margin: 0;
}

.final-balance-label {

    font-size: 1em;
    font-weight: 400;
}

.final-balance-content {

    font-size: 1.8em;
    font-weight: 700;
}







/* ====================
====================

Nav */

.nav-container {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    gap: 0.4em;

}

.nav-text {

    margin: 0;
    font-weight: 600;
    cursor: pointer;
}

.nav-text:hover,
.nav-text-active {

    text-decoration: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.4em;
    color: #669BBC;
}

.nav-anchor,
.nav-anchor:visited,
.nav-anchor:hover,
.nav-anchor:focus {

    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: auto;


}








/* ========================
=======================
Data Container  */

.data-container,
.data-container-empty {

    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 1em;

    border-radius: 1em 1em 1em 1em;

    background-color: #2A9D8F;

}

.data-input-text-container {

    width: 60%;
}

.data-input-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    background-color: #E9C46A;
}

.data-input-title {

    margin: 0;
    font-size: 1.3em;
}

.data-input-desc {

    margin: 0;
    color: black;
    font-size: 1em;
}

.data-input-box-container {

    display: flex;
    align-items: center;

}

.data-input {

    border-radius: 0.4em;
    border: none;
    height: 2em;
    padding-left: 0.8em;
    background-color: #D9D9D9;
    font-size: 1em;

}

.data-input:focus {

    background-color: white;
    outline-style: solid;
    outline-color: #2A9D8F;
    outline-width: 0.25em;

}

.data-initial-investment-container {

    border-radius: 0.8em 0.8em 0 0;
}

.data-time-container {

    border-radius: 0 0 1em 1em;
}

/* ================
=================

Grid Container 

*/

.data-grid-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.1em;
    column-gap: 0.01em;

    justify-items: center;
    padding: 0.8em 0 0.8em 0;
    background-color: #2A9D8F;
    border-radius: 1em;


    font-size: 1.2em;
    font-weight: 800;


}

.grid-item {

    border: #2A9D8F;
    border-style: solid;
    border-width: 0.1em;
    padding: 0.2em;
    text-align: center;
    background-color: #e9c56a;
    width: 80%;
}

.grid-item-left:hover,
.grid-item-left:hover+div {

    background-color: #F4A261;
}

.grid-label {

    background-color: white;
    color: black;
}

.grid-item-first {

    border-radius: 1em 0 0 0;
    background-color: white;


}



.grid-item-last {

    border-radius: 0 0 1em 0;
}

/* ===============
================

Chart */

#myChart {

    background-color: white;
}


/* =================
======================

Buttons  */

.btn-container {

    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1em;


}

.btn {

    height: 3em;
    width: 11em;

    background-color: #2A9D8F;
    color: white;
    border: none;
    border-radius: 0.4em;

    opacity: 1;
    cursor: pointer;

    font-size: 1em;
    font-weight: 900;

}

.btn:hover {

    opacity: 0.8;
}


/*

================
============

If Data is Empty*/

.data-container-empty {

    display: none;
    justify-content: center;
    align-items: center;


    background-color: #E3E3E3;
    color: black;

    display: none;
}


.data-empty-img {

    width: 13em;


}



.data-empty-text {

    font-size: 1.2em;
    font-weight: 400;
    margin: 0.6em
}

.data-empty-title {

    font-size: 2em;
    font-weight: 700;
}

/* ==================
  ===========================
  
  Media Queries */

@media only screen and (max-width: 1400px) {
main{

    width: 50vw;
}
  }

  @media only screen and (max-width: 1000px) {
    main{
    
        width: 70vw;
    }
      }
  
      @media only screen and (max-width: 600px) {
        main{
        
            width: 100vw;
           
        }

        .data-input-container{

            gap:0.2em
        }

        .data-input-desc{

            font-size: 0.8em;
        }
          }
