#Script to deploy on the Render cloud platform
#specifies when this will run ie when a push/pull request is made
#Point of this is to ensure that code that fails to build will not be deployed to render

name: Node.js CI

on: 
  push: 
    branches: [ main ] 
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Invoke deployment hook
      uses: distributhor/workflow-webhook@v2
      env:
        webhook_url: ${{secrets.DEPLOY_HOOK_URL}}
        webhook_secret: ${{secrets.DEPLOY_HOOK_KEY}}

    - name: Setup Node
      run: actions/setup-node@v2
      with: 
        node-version: 16.18
    - name: Install dependencies
      run: npm ci
    -name: Run test
     run: npm test
    - uses: bounceapp/render-action@0.6.0
      with:
        render-token: ${{secrets.RENDER_API_KEY}}
        github-token: ${{secrets.ACC_API_KEY}}
        service-id: "srv-cj1rq318g3ne7u0pj8ng"
        retries: 20
        wait: 16000
        sleep: 30000

        

